[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis://redis-dev.rebba.online:6379
Environment=CATALOGUE_HOST=catalogue-dev.rebba.online
Environment=CATALOGUE_PORT=8080
Environment=MONGO=true
Environment=MONGO_URL=mongodb://mongodb-dev.rebba.online:27017/users
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart
[Install]
WantedBy=multi-user.target